# Yelp Analysis

For this notebook segment, I used the yelp API to determine where the 'hot and new' businesses are located. My rationale was that the areas where newer companies are located are most likely to be areas that are being gentrified. Unfortunately, there weren't that many results. Currently waiting on my Twitter API to see if I can access mobility patterns in different areas, which is a good indicator of gentrification:

https://www.npr.org/sections/13.7/2017/08/29/546980178/what-does-it-take-to-see-gentrification-before-it-happens

In [1]:
import requests
import pandas as pd
from config import api_key

In [2]:
# Business Search URL
url = 'https://api.yelp.com/v3/businesses/search'

In [4]:
# Define the api key, define the endpoint and define the header
API_KEY = api_key
ENDPOINT = url
HEADERS = {'Authorization': 'bearer %s' % API_KEY}
# headers is how we authenticate ourselves

In [5]:
# Define the parameters
PARAMETERS = {'categories': 'coffee, restaurants, bars',
             'radius': 40000,
             'location': 'Austin',
             'attributes': 'hot_and_new'}

In [6]:
# Make a request to the yelp API
response = requests.get(url = ENDPOINT, params = PARAMETERS, headers = HEADERS)

# Convert JSON string to dictionary
biz_data = response.json()
print(biz_data)

{'businesses': [{'id': 't8MhdpBVeL2YxIUXx1kcfw', 'alias': 'ani-s-day-and-night-austin', 'name': 'Ani’s Day & Night', 'image_url': 'https://s3-media3.fl.yelpcdn.com/bphoto/umrzV4DJR0vQDQdtM6ciig/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/ani-s-day-and-night-austin?adjust_creative=1ost9EOUCmQzzm2BRxkQWQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=1ost9EOUCmQzzm2BRxkQWQ', 'review_count': 6, 'categories': [{'alias': 'foodtrucks', 'title': 'Food Trucks'}, {'alias': 'bars', 'title': 'Bars'}, {'alias': 'coffee', 'title': 'Coffee & Tea'}], 'rating': 4.5, 'coordinates': {'latitude': 30.22101, 'longitude': -97.6956}, 'transactions': [], 'location': {'address1': '7107 E Riverside Dr', 'address2': '', 'address3': None, 'city': 'Austin', 'zip_code': '78741', 'country': 'US', 'state': 'TX', 'display_address': ['7107 E Riverside Dr', 'Austin, TX 78741']}, 'phone': '+15127751355', 'display_phone': '(512) 775-1355', 'distance': 11097.854408045292}, {'id': '82mMA_TH0GQM3WYgxKXREA', 'alias': 'zeds-real-fruit-ice-cream-austin', 'name': 'Zeds Real Fruit Ice Cream', 'image_url': 'https://s3-media1.fl.yelpcdn.com/bphoto/yhOH81g9UY_t36b20Eq0tg/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/zeds-real-fruit-ice-cream-austin?adjust_creative=1ost9EOUCmQzzm2BRxkQWQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=1ost9EOUCmQzzm2BRxkQWQ', 'review_count': 4, 'categories': [{'alias': 'icecream', 'title': 'Ice Cream & Frozen Yogurt'}, {'alias': 'beer_and_wine', 'title': 'Beer, Wine & Spirits'}, {'alias': 'coffee', 'title': 'Coffee & Tea'}], 'rating': 4.0, 'coordinates': {'latitude': 30.2821, 'longitude': -97.70573}, 'transactions': [], 'location': {'address1': '1814 Harvey St', 'address2': None, 'address3': '', 'city': 'Austin', 'zip_code': '78702', 'country': 'US', 'state': 'TX', 'display_address': ['1814 Harvey St', 'Austin, TX 78702']}, 'phone': '+15033955038', 'display_phone': '(503) 395-5038', 'distance': 5614.057430798926}, {'id': 'BRsU4qwL3hfdT6D5RbY2uA', 'alias': 'eat-my-biscuits-georgetown', 'name': 'Eat My Biscuits', 'image_url': 'https://s3-media2.fl.yelpcdn.com/bphoto/HuHpnPi6xrLC1eyIfS1g2Q/o.jpg', 'is_closed': False, 'url': 'https://www.yelp.com/biz/eat-my-biscuits-georgetown?adjust_creative=1ost9EOUCmQzzm2BRxkQWQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=1ost9EOUCmQzzm2BRxkQWQ', 'review_count': 18, 'categories': [{'alias': 'foodtrucks', 'title': 'Food Trucks'}, {'alias': 'coffee', 'title': 'Coffee & Tea'}, {'alias': 'breakfast_brunch', 'title': 'Breakfast & Brunch'}], 'rating': 4.5, 'coordinates': {'latitude': 30.630148160480054, 'longitude': -97.74506705516937}, 'transactions': ['pickup', 'delivery'], 'location': {'address1': '3309 W State Hwy 29', 'address2': None, 'address3': '', 'city': 'Georgetown', 'zip_code': '78628', 'country': 'US', 'state': 'TX', 'display_address': ['3309 W State Hwy 29', 'Georgetown, TX 78628']}, 'phone': '+15125911129', 'display_phone': '(512) 591-1129', 'distance': 36157.74817256539}], 'total': 3, 'region': {'center': {'longitude': -97.75772094726562, 'latitude': 30.305156315977833}}}

In [7]:
for biz in biz_data['businesses']:
    print(biz['location'])

{'address1': '7107 E Riverside Dr', 'address2': '', 'address3': None, 'city': 'Austin', 'zip_code': '78741', 'country': 'US', 'state': 'TX', 'display_address': ['7107 E Riverside Dr', 'Austin, TX 78741']}
{'address1': '1814 Harvey St', 'address2': None, 'address3': '', 'city': 'Austin', 'zip_code': '78702', 'country': 'US', 'state': 'TX', 'display_address': ['1814 Harvey St', 'Austin, TX 78702']}
{'address1': '3309 W State Hwy 29', 'address2': None, 'address3': '', 'city': 'Georgetown', 'zip_code': '78628', 'country': 'US', 'state': 'TX', 'display_address': ['3309 W State Hwy 29', 'Georgetown, TX 78628']}

In [8]:
df_nested_list = pd.json_normalize(biz_data)
df_nested_list

,businesses,total,region.center.longitude,region.center.latitude
0,"[{'id': 't8MhdpBVeL2YxIUXx1kcfw', 'alias': 'an...",3,-97.757721,30.305156

In [9]:
df_nested_list = pd.json_normalize(biz_data, record_path =['businesses'])
df_nested_list

,id,alias,name,image_url,is_closed,url,review_count,categories,rating,transactions,...,coordinates.latitude,coordinates.longitude,location.address1,location.address2,location.address3,location.city,location.zip_code,location.country,location.state,location.display_address
0,t8MhdpBVeL2YxIUXx1kcfw,ani-s-day-and-night-austin,Ani’s Day & Night,https://s3-media3.fl.yelpcdn.com/bphoto/umrzV4...,False,https://www.yelp.com/biz/ani-s-day-and-night-a...,6,"[{'alias': 'foodtrucks', 'title': 'Food Trucks...",4.5,[],...,30.221010,-97.695600,7107 E Riverside Dr,,None,Austin,78741,US,TX,"[7107 E Riverside Dr, Austin, TX 78741]"
1,82mMA_TH0GQM3WYgxKXREA,zeds-real-fruit-ice-cream-austin,Zeds Real Fruit Ice Cream,https://s3-media1.fl.yelpcdn.com/bphoto/yhOH81...,False,https://www.yelp.com/biz/zeds-real-fruit-ice-c...,4,"[{'alias': 'icecream', 'title': 'Ice Cream & F...",4.0,[],...,30.282100,-97.705730,1814 Harvey St,None,,Austin,78702,US,TX,"[1814 Harvey St, Austin, TX 78702]"
2,BRsU4qwL3hfdT6D5RbY2uA,eat-my-biscuits-georgetown,Eat My Biscuits,https://s3-media2.fl.yelpcdn.com/bphoto/HuHpnP...,False,https://www.yelp.com/biz/eat-my-biscuits-georg...,18,"[{'alias': 'foodtrucks', 'title': 'Food Trucks...",4.5,"[pickup, delivery]",...,30.630148,-97.745067,3309 W State Hwy 29,None,,Georgetown,78628,US,TX,"[3309 W State Hwy 29, Georgetown, TX 78628]"

In [10]:
df_nested_list = df_nested_list.drop(['id','alias','image_url',
                                      'display_phone','categories', 
                                      'is_closed','url','rating',
                                      'transactions','location.address2',
                                      'location.address3'], axis=1)

In [11]:
df_nested_list

,name,review_count,phone,distance,coordinates.latitude,coordinates.longitude,location.address1,location.city,location.zip_code,location.country,location.state,location.display_address
0,Ani’s Day & Night,6,+15127751355,11097.854408,30.221010,-97.695600,7107 E Riverside Dr,Austin,78741,US,TX,"[7107 E Riverside Dr, Austin, TX 78741]"
1,Zeds Real Fruit Ice Cream,4,+15033955038,5614.057431,30.282100,-97.705730,1814 Harvey St,Austin,78702,US,TX,"[1814 Harvey St, Austin, TX 78702]"
2,Eat My Biscuits,18,+15125911129,36157.748173,30.630148,-97.745067,3309 W State Hwy 29,Georgetown,78628,US,TX,"[3309 W State Hwy 29, Georgetown, TX 78628]"

# Housing Market Analysis by zipcode

source: https://data.austintexas.gov/Housing-and-Real-Estate/2014-Housing-Market-Analysis-Data-by-Zip-Code/hcnj-rei3

In [12]:
df = pd.read_csv('2014_Housing_Market_Analysis_Data_by_Zip_Code.csv')
df.dropna()
df

,Zip Code,Population below poverty level,Median household income,"Non-White, Non-Hispanic or Latino","Hispanic or Latino, of any race",Population with disability,Unemployment,Large households (5+ members),"Homes affordable to people earning less than $50,000","Rentals affordable to people earning less than $25,000",...,Rental units affordable to average teacher,Owner units affordable to average teacher,Rental units affordable to average tech worker,Owner units affordable to average tech worker,"Change in percentage of population below poverty, 2000-2012","Change in median rent, 2000-2012","Change in median home value, 2000-2012",Percentage of homes within 1/4-mi of transit stop,Average monthly transportation cost,Percentage of housing and transportation costs that is transportation-related
0,78726.0,9,66096,16,20,3,4,2,0.0,1,...,70,0.0,99,17.0,375,20,55,2,786,40
1,NaN,19,52431,16,35,8,7,8,24.0,10,...,74,22.0,98,58.0,65,31,74,29,668,38
2,78724.0,38,35711,29,63,8,8,28,85.0,16,...,78,84.0,100,96.0,208,37,46,21,786,40
3,78617.0,18,43957,12,67,10,15,23,NaN,11,...,63,NaN,99,NaN,101,74,21,16,865,42
4,78701.0,20,68152,16,14,10,9,0,7.0,7,...,29,7.0,90,30.0,12,115,59,97,433,23
5,78702.0,33,34734,18,56,14,11,10,21.0,41,...,80,15.0,99,67.0,3,73,207,96,590,39
6,78703.0,10,92606,9,9,6,4,4,3.0,11,...,51,2.0,92,13.0,7,65,104,67,629,25
7,78704.0,21,50248,7,30,9,7,3,13.0,12,...,76,13.0,99,33.0,33,40,126,76,629,33
8,78705.0,66,11917,21,17,4,14,2,39.0,8,...,57,38.0,94,79.0,49,70,40,100,511,30
9,78717.0,3,93305,25,14,4,5,9,7.0,1,...,70,6.0,98,67.0,638,2,33,3,708,47
10,78721.0,32,32131,36,52,17,16,14,61.0,26,...,84,57.0,100,95.0,36,62,113,87,668,40
11,78722.0,19,44917,18,19,11,8,3,7.0,11,...,65,6.0,97,37.0,8,40,127,98,590,33
12,78723.0,29,41869,27,46,10,10,13,33.0,22,...,82,28.0,99,83.0,49,28,107,84,668,43
13,78727.0,11,65687,25,20,7,6,5,32.0,2,...,67,29.0,99,90.0,181,13,61,24,708,41
14,78728.0,14,47405,26,28,9,6,4,46.0,4,...,83,35.0,99,100.0,302,16,30,28,668,40
15,78729.0,8,57358,22,17,7,7,7,26.0,3,...,73,22.0,100,96.0,116,12,43,13,747,37
16,78730.0,4,119573,13,5,4,3,9,19.0,0,...,64,17.0,99,25.0,283,22,44,2,786,34
17,78731.0,9,78265,12,9,8,4,2,13.0,4,...,67,12.0,97,26.0,26,31,68,44,747,32
18,78732.0,3,127726,13,9,3,5,15,0.0,0,...,26,0.0,80,15.0,1242,105,75,0,786,33
19,78735.0,6,74571,9,20,7,4,10,8.0,4,...,62,5.0,97,23.0,96,4,85,9,747,38
20,78739.0,1,126525,14,15,4,4,13,0.0,0,...,8,0.0,71,11.0,46,0,72,8,786,34
21,78741.0,40,30183,16,62,9,9,10,76.0,15,...,86,76.0,100,93.0,45,28,58,80,668,43
22,78742.0,37,34076,4,70,7,11,18,50.0,40,...,100,50.0,100,100.0,165,17,-37,3,747,43
23,78744.0,26,41056,9,77,8,9,23,93.0,7,...,81,87.0,100,100.0,89,26,44,63,708,40
24,78745.0,16,49243,7,40,11,7,6,33.0,8,...,72,29.0,99,96.0,73,30,83,76,668,35
25,78746.0,5,125327,10,8,6,4,7,1.0,4,...,48,1.0,94,6.0,32,32,80,14,786,29
26,78748.0,9,65889,10,35,9,6,8,29.0,4,...,63,22.0,100,92.0,260,29,58,40,747,44
27,78749.0,6,80956,13,20,7,4,7,5.0,1,...,57,3.0,97,70.0,171,25,61,37,708,40
28,78750.0,7,75958,16,16,9,6,6,19.0,2,...,70,15.0,99,51.0,104,20,64,21,747,33
29,78751.0,26,38624,11,14,6,9,2,11.0,13,...,68,10.0,97,42.0,23,38,97,98,550,40
30,78752.0,32,33271,19,57,11,9,8,43.0,20,...,92,39.0,100,86.0,8,17,71,80,629,37
31,78753.0,26,39593,20,60,10,9,16,78.0,14,...,89,75.0,100,98.0,128,26,40,59,708,44
32,78754.0,11,53274,36,32,8,9,7,70.0,4,...,74,59.0,100,100.0,286,33,33,19,708,41
33,78756.0,9,59685,8,9,12,4,2,20.0,17,...,76,19.0,99,37.0,-20,47,99,90,550,40
34,78757.0,16,55156,5,25,10,6,5,21.0,8,...,75,21.0,100,56.0,103,24,93,79,590,36
35,78758.0,24,41792,22,46,9,10,10,71.0,11,...,83,69.0,99,99.0,128,20,49,75,668,40
36,78759.0,7,65672,18,11,8,7,2,13.0,3,...,75,13.0,99,45.0,60,7,60,28,629,40

# ATX housing data

limitations: 
- most recent version from earlier this year so some of these properties are no longer available and the prices are not accurate

In [13]:
df = pd.read_csv('austinHousingData.csv')
df

,zpid,city,streetAddress,zipcode,description,latitude,longitude,propertyTaxRate,garageSpaces,hasAssociation,...,numOfMiddleSchools,numOfHighSchools,avgSchoolDistance,avgSchoolRating,avgSchoolSize,MedianStudentsPerTeacher,numOfBathrooms,numOfBedrooms,numOfStories,homeImage
0,111373431,pflugerville,14424 Lake Victor Dr,78660,"14424 Lake Victor Dr, Pflugerville, TX 78660 i...",30.430632,-97.663078,1.98,2,True,...,1,1,1.266667,2.666667,1063,14,3.0,4,2,111373431_ffce26843283d3365c11d81b8e6bdc6f-p_f...
1,120900430,pflugerville,1104 Strickling Dr,78660,Absolutely GORGEOUS 4 Bedroom home with 2 full...,30.432673,-97.661697,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,4,1,120900430_8255c127be8dcf0a1a18b7563d987088-p_f...
2,2084491383,pflugerville,1408 Fort Dessau Rd,78660,Under construction - estimated completion in A...,30.409748,-97.639771,1.98,0,True,...,1,1,1.200000,3.000000,1108,14,2.0,3,1,2084491383_a2ad649e1a7a098111dcea084a11c855-p_...
3,120901374,pflugerville,1025 Strickling Dr,78660,Absolutely darling one story home in charming ...,30.432112,-97.661659,1.98,2,True,...,1,1,1.400000,2.666667,1063,14,2.0,3,1,120901374_b469367a619da85b1f5ceb69b675d88e-p_f...
4,60134862,pflugerville,15005 Donna Jane Loop,78660,Brimming with appeal & warm livability! Sleek ...,30.437368,-97.656860,1.98,0,True,...,1,1,1.133333,4.000000,1223,14,3.0,3,2,60134862_b1a48a3df3f111e005bb913873e98ce2-p_f.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15166,29512934,austin,905 Silcantu Dr,78748,Not for rent!\n\nBeautiful one story home in T...,30.161997,-97.816345,1.98,6,False,...,1,1,0.900000,3.333333,1424,14,2.0,3,1,29512934_ff9b6eefa7e2eb4e9ef983da13a23098-p_f.jpg
15167,241937773,austin,1413 Waterloo Shore Ln UNIT 12,78741,This contemporary three-story detached condo h...,30.240223,-97.772835,1.98,2,True,...,1,1,1.900000,6.666667,1226,16,4.0,3,3,241937773_66d3e483bd783eac5a52ff5f938d2a2e-p_f...
15168,29473281,austin,2206 S 3rd St,78704,Original bungalow with a modern addition. Larg...,30.244835,-97.761124,1.98,2,False,...,1,1,0.800000,5.000000,889,13,3.0,3,2,29473281_9e90ec4652c4b3b6592a7fdd09f1ea6d-p_f.jpg
15169,29392029,austin,2000 Chestnut Ave,78722,So many options at this address in the eclecti...,30.281569,-97.717789,1.98,0,False,...,1,1,1.300000,6.666667,1057,15,2.0,4,1,29392029_a9a8306ea363d23f37d91d37975a1b96-p_f.jpg
15170,29390174,austin,3110 E 12th St,78702,"3110 E 12th St, Austin, TX 78702 is a single f...",30.276930,-97.701523,1.98,1,False,...,1,1,1.900000,6.666667,1057,15,1.0,2,1,29390174_9580c60e14870498b2ce98b5f889471e-p_f.jpg

In [14]:
df.zipcode.value_counts()

78748    1144
78745    1039
78749     774
78704     706
78737     617
78739     605
78732     597
78759     561
78723     558
78757     523
78717     516
78731     495
78744     472
78753     442
78727     417
78702     397
78758     395
78754     393
78747     381
78750     321
78729     318
78735     311
78703     302
78721     255
78730     244
78728     225
78741     224
78724     223
78733     214
78746     195
78726     178
78751     174
78736     163
78725     162
78752     153
78756     140
78722     100
78617      86
78705      68
78660      36
78619      12
78734       9
78701       8
78719       5
78653       4
78652       4
78742       4
78738       1
Name: zipcode, dtype: int64

In [15]:
from sodapy import Socrata

In [33]:
# Extract permit data
client = Socrata("data.austintexas.gov", None)

results = client.get("3syk-w9eu", limit=1000000)

results_df = pd.DataFrame.from_records(results)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [34]:
results_df

,permittype,permit_type_desc,permit_number,permit_class_mapped,permit_class,work_class,permit_location,description,tcad_id,legal_description,...,total_lot_sq_ft,:@computed_region_qwte_z96m,total_existing_bldg_sqft,plumbing_valuation,medgas_valuation_remodel,applicant_address1,electrical_valuation,completed_date,mechanical_valuation,building_valuation
0,EP,Electrical Permit,2021-104866 EP,Residential,Residential,Homebuilder Loop,2607 FISET DR,install Builders loop,0227000624,LOT 8 BLK B SHOALMONT SEC 5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BP,Building Permit,2021-109085 BP,Residential,R- 434 Addition & Alterations,Addition and Remodel,124 BIRNAM WOOD CT,Partial demo Subterranean bridgeNotary confirmed,0113110531,LOT 16 BLK A STRATFORD HILLS SEC III,...,54537,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,PP,Plumbing Permit,2021-110001 PP,Commercial,C-1000 Commercial Remodel,Remodel,4616 TRIANGLE AVE UNIT 200,ePlan Expedited Review Interior Remodel to an...,0224040501,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,EP,Electrical Permit,2021-108593 EP,Residential,Residential,Repair,2103 TORO CANYON RD,Service for SFR AUSTIN 2 MILE ETJ,0123130901,LOT 3 BLK F WESTLAKE HIGHLANDS SEC 2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MP,Mechanical Permit,2021-109887 MP,Residential,Residential,Change Out,8404 GREENFLINT LN,Replacement of complete existing central heat ...,0145030807,LOT 12 BLK C WESTOVER HILLS SEC 6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999995,EP,Electrical Permit,2004-017215 EP,Residential,Residential,Remodel,9601 Rainlilly Ln,Install Solar Panel To Exst Resid,0158090137,LOT 15 BLK A GREAT HILLS SEC 32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-01-03T00:00:00.000,NaN,NaN
999996,EP,Electrical Permit,2004-017210 EP,Residential,R- 101 Single Family Houses,New,6700 Doyal Dr,New Two Story Res WAtt Garage Covered Porch U...,0336031238,LOT 12 BLK B MCKINNEY PARK EAST SEC 2 AMENDED ...,...,NaN,3098,NaN,NaN,NaN,NaN,NaN,2005-02-10T00:00:00.000,NaN,NaN
999997,EP,Electrical Permit,2004-002920 EP,Residential,R- 101 Single Family Houses,New,6628 Doyal Dr,New Two Story Res WAtt Garage Covered Porch U...,0336031242,LOT 8 BLK B MCKINNEY PARK EAST SEC 2 AMENDED P...,...,NaN,3098,NaN,NaN,NaN,NaN,NaN,2005-02-09T00:00:00.000,NaN,NaN
999998,EP,Electrical Permit,2004-012509 EP,Commercial,C- 105 Five or More Family Bldgs,New,9345 E Us Hwy 290 Bldg 9,New MultiFamily Residential Apts,0226310901,ABS 214 SUR 30 DAVIS H T ABS 513 SUR 55 MUNOS...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-11-15T00:00:00.000,NaN,NaN
999999,EP,Electrical Permit,2004-017236 EP,Residential,Residential,Remodel,2821 Prado St,Upgrade Elec Srv To Exst Resid,0204130406,LOT 18 BLK 2 OLT 2627 OLT 3233 DIV A CHERNOSKY...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005-01-12T00:00:00.000,NaN,NaN

In [42]:
df = results_df.loc[(results_df.permit_class == 'Residential') & (results_df.work_class == 'New,Remodel')]

In [43]:
df

Empty DataFrame
Columns: [permittype, permit_type_desc, permit_number, permit_class_mapped, permit_class, work_class, permit_location, description, tcad_id, legal_description, applieddate, issue_date, day_issued, calendar_year_issued, fiscal_year_issued, issued_in_last_30_days, issue_method, status_current, statusdate, expiresdate, original_address1, original_city, original_state, original_zip, council_district, jurisdiction, link, project_id, latitude, longitude, location, contractor_trade, contractor_company_name, contractor_full_name, contractor_phone, contractor_address1, contractor_address2, contractor_city, contractor_zip, :@computed_region_8spj_utxs, :@computed_region_q9nd_rr82, :@computed_region_e9j2_6w3z, :@computed_region_m2th_e4b7, :@computed_region_rxpj_nzrk, :@computed_region_a3it_2a2z, :@computed_region_i2aj_cj5t, :@computed_region_xzeg_zdjk, condominium, remodel_repair_sqft, total_new_add_sqft, total_valuation_remodel, total_job_valuation, number_of_floors, housing_units, building_valuation_remodel, electrical_valuation_remodel, mechanical_valuation_remodel, plumbing_valuation_remodel, masterpermitnum, applicant_full_name, applicant_org, applicant_phone, applicant_address2, applicant_city, applicantzip, certificate_of_occupancy, total_lot_sq_ft, :@computed_region_qwte_z96m, total_existing_bldg_sqft, plumbing_valuation, medgas_valuation_remodel, applicant_address1, electrical_valuation, completed_date, mechanical_valuation, building_valuation]
Index: []

[0 rows x 76 columns]

In [41]:
df.permit_class_mapped.value_counts()

Residential    72680
Name: permit_class_mapped, dtype: int64